<!doctype html>
<html>
<head>
    <title>Coach List</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/4f3c245195.js" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <nav>
      <ul class="navLinksContainer">
        <li><a class="navLinks" href="/">Enter Chat</a></li>
        <li><a class="navLinks" href="/profile">Profile</a></li>
        <li><a class="navLinks" href="/coachList">Browse Coaches</a></li>
        <li><a class="navLinks" href="/performance">Athlete Journal</a></li>
        <li><a class="navLinks" href="/login">Log In</a></li>
        <li><a class="navLinks" href="/logout">Log Out</a></li>
      </ul>
    </nav>
  </header>
  <div class="coach-container">
    <% coaches.forEach((coach) => { %>
      <% const wasProfessional = coach.coachIntake.professional ? 'yes' : 'no' %>
      <div class="coach-card">
        <div class="coach-name"><%= coach.firstName %> <%=coach.lastName%></div>
        <div class="coach-details">
          <div>Years Experience: <%= coach.coachIntake.coachingExperience %> years</div>
          <div>Previous Coaching: <%= coach.coachIntake.previousExperience %></div>
          <div>Professional Player? <%= wasProfessional %></div>
          <div>Specialties: <%= coach.coachIntake.skills %></div>
        </div>
        <form action="/chatHome/<%= coach._id %>">
          <button type="submit" class="chat-button">Start Chat</button>
        </form>

        <form action="/follow" method="put">
          <button type="submit" class="chat-button"> follow coach</button>
        </form>
      </div>
    <% }) %>
  </div>
  



<script src="main.js"></script>

</body>
</html>