<!doctype html>
<html>
<head>
    <title>Basketball Training Form</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/4f3c245195.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1>Performance</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
       
    </div>

    <div >

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6 hide" style="display:none">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>
    </div>
    <div class="timeline-container">
      <form action="completedWorkouts" method="post">
        <% for(var i=0; i<completedWorkouts.length; i++) { %>
          <div class="timeline-item">
            <div class="timeline-date">
              <span><%= completedWorkouts[i].date %></span>
            </div>
            <div class="timeline-content">
              <h4><%= completedWorkouts[i].workoutTitle %></h4>
              <p>Times Completed: <%= completedWorkouts[i].reps %></p>
              <% if (completedWorkouts[i].coachName) { %>
                <p>Coach: <%= completedWorkouts[i].coachName %></p>
              <% } %>
              <p>Coach Comment: <%= completedWorkouts[i].coachComment %></p>
              <img src="<%= completedWorkouts[i].url %>" alt="Workout Image">
            </div>
          </div>
        <% } %>
      </form>
    </div>
    
      
</div>


</body>


        

    
        
          

        


        
       
        
          
          

         
            
</div>

<script src="main.js"></script>

</body>
</html>
